#back-top {
    position: fixed;
    right: 1rem;
    bottom: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    background: #a24014;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    user-select: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.footer-primary {
    &__container {
        
    }

    &__top {
        .top-item {
            position: relative;
            margin: 0 16px;
            &::before {
                content: '';
                position: absolute;
                top: 50%;
                right: -15px;
                transform: translateY(-50%);
                width: 1px;
                height: 70%;
                background-color: #FBFCFE40;
            }   

            &:last-child {
                &::before {
                    content: none;
                }
            }
        }
        .top-link {
            color: #fafafa;
        }
    }

    &__content {
        .text-list {
            p + p {
                margin-top: 5px;
            }
            a {
                text-decoration: underline;
                color: #fff;
            }
        }
        .text-primary {
            &__title {
                text-transform: uppercase;
            }
            &__des {
                li + li {
                    margin-top: 5px;
                }
            }
        }
    }
    .footer-social {
        &__link {
            img {
                width: 36px;
                height: 36px;
            }
        }
    }

    &__bot {
        padding-top: 8px;
        border-top: 1px solid #A24014;
        p + p {
            margin-top: 0;
        }
        a {
            color: #ecc6b7;
            font-weight: bold;
        }
    }

}